@using Microsoft.AspNetCore.Identity
@using Book_Lending_System.Models
@using Book_Lending_System.Data

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject AccessRight AccessRight

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book Lending System</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arsenal&family=Kanit:wght@500&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Book_Lending_System.styles.css" asp-append-version="true" />

    <!-- Slick Carousel -->
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css" />

    <!-- Multiselect Listbox -->
    <link rel="stylesheet" type="text/css" href="/lib/multiselect-listbox/jquery.multiselect.css" />

    <!-- DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
</head>

<body style="background-color: #E9F1FA">
    <header class="header">
        <nav>
            <div class="main-navbar">
                <div role="button" class="menu-brand" asp-area="" asp-page="/Index">Book Lending System</div>

                <button class="bi bi-list float-right visible-xs-block" style="font-size: 1.5rem;" data-bs-toggle="collapse" data-bs-target=".burger_menu" aria-controls="burger_menu" aria-expanded="false" aria-label="Toggle Navigation" type="button"></button>

                <ul class="menu-sections">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">Books</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/BookViews/ExploreView/Index">Explore</a>
                            </li>
                            @if (await AccessRight.GetCurrentUser(User) != null)
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-page="/BookViews/LendingView/Index">Lending Request</a>
                                </li>
                            }
                            @{
                                if (await AccessRight.IsAdmin(User) || await AccessRight.IsStaff(User))
                                {
                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/BookViews/ManageView/Index">Manage Book</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/BookViews/AuthorView/Index">Manage Author</a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/BookViews/CategoryView/Index">Manage Category</a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/BookViews/PublisherView/Index">Manage Publisher</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    @{
                        if (await AccessRight.IsAdmin(User) || await AccessRight.IsStaff(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/StudentView/Index">Students</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/UserView/Index">User</a>
                            </li>
                        }
                    }

                    @{
                        if (await AccessRight.IsAdmin(User))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">Account</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-page="/AccountView/Index">Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-page="/RoleView/Index">Role</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <main role="main" class="">
        @RenderBody()
    </main>

    <div class="burger_menu dropdown-menu collapse" id="burger_menu" role="menu">
        <div class="burger_menu_topbar" role="button" data-bs-toggle="collapse" data-bs-target="#burger_menu_app" aria-controls="burger_menu_app" aria-expanded="true" aria-label="Toggle Content">
            <span>
                <span class="burger_menu_username">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <text>
                            @await AccessRight.GetUserName(User)
                        </text>
                    }
                    else
                    {
                        <text>
                            Anonymous
                        </text>
                    }
                </span>
            </span>
            <span class="btn-close float-right" data-bs-toggle="collapse" data-bs-target=".burger_menu" aria-controls="burger_menu" aria-expanded="false" aria-label="Close"></span>
        </div>

        <div class="burger_menu_content">
            <div class="burger_menu_app collapse show" id="burger_menu_app" role="menu">
                <ul class="menu-sections">
                    <li class="burger_menu_section">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="collapse" data-bs-target=".book-dropdown-menu" aria-controls="book-dropdown-menu" role="button" aria-expanded="false">
                            Books
                            <span class="bi bi-chevron-right float-right"></span>
                            <span class="bi bi-chevron-down float-right"></span>
                        </a>

                        <div class="book-dropdown-menu collapse" id="book-dropdown-menu" role="menu">
                            <span>
                                <a class="burger_menu_child" asp-area="" asp-page="/BookViews/ExploreView/Index">Explore</a>
                            </span>
                            @if (await AccessRight.GetCurrentUser(User) != null)
                            {
                                <span>
                                    <a class="burger_menu_child" asp-area="" asp-page="/BookViews/LendingView/Index">Lending Request</a>
                                </span>
                            }
                            @{
                                if (await AccessRight.IsAdmin(User) || await AccessRight.IsStaff(User))
                                {
                                    <hr class="dropdown-divider" />

                                    <span>
                                        <a class="burger_menu_child" asp-area="" asp-page="/BookViews/ManageView/Index">Manage Book</a>
                                    </span>

                                    <hr class="dropdown-divider" />

                                    <span>
                                        <a class="burger_menu_child" asp-area="" asp-page="/BookViews/AuthorView/Index">Manage Author</a>
                                    </span>

                                    <span>
                                        <a class="burger_menu_child" asp-area="" asp-page="/BookViews/CategoryView/Index">Manage Category</a>
                                    </span>

                                    <span>
                                        <a class="burger_menu_child" asp-area="" asp-page="/BookViews/PublisherView/Index">Manage Publisher</a>
                                    </span>
                                }
                            }
                        </div>
                    </li>

                    @{
                        if (await AccessRight.IsAdmin(User) || await AccessRight.IsStaff(User))
                        {
                            <li class="burger_menu_section">
                                <a asp-area="" asp-page="/StudentView/Index">Students</a>
                            </li>
                            <li class="burger_menu_section">
                                <a asp-area="" asp-page="/UserView/Index">User</a>
                            </li>
                        }
                        if (await AccessRight.IsAdmin(User))
                        {
                            <li class="burger_menu_section">
                                <a class="dropdown-toggle" href="#" data-bs-toggle="collapse" data-bs-target=".account-dropdown-menu" aria-controls="account-dropdown-menu" role="button" aria-expanded="false">
                                    Account
                                    <span class="bi bi-chevron-right float-right"></span>
                                    <span class="bi bi-chevron-down float-right"></span>
                                </a>

                                <div class="account-dropdown-menu collapse" id="account-dropdown-menu" role="menu">
                                    <span>
                                        <a class="burger_menu_child" asp-area="" asp-page="/AccountView/Index">Explore</a>
                                    </span>
                                    <span>
                                        <a class="burger_menu_child" asp-area="" asp-page="/RoleView/Index">Role</a>
                                    </span>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>

            <hr />

            <div class="burger_menu_user">
                <ul class="user_menu_mobile">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                        </li>
                        <li>
                            <label for="logout" class="w-100" role="button">Logout</label>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                <button id="logout" type="submit" class="border-0 invisible">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Slick Carousel -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/lib/slick/slick.min.js"></script>

    <!-- Multiselect Listbox -->
    <script type="text/javascript" src="/lib/multiselect-listbox/jquery.multiselect.js"></script>

    <!-- DataTables JQuery -->
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>