@using Microsoft.AspNetCore.Identity
@using Book_Lending_System.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav float-right">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button type="submit" class="nav-link btn text-bg-dark border-0 p-2 mt-1 mx-2">Logout</button>
        </form>
    </li>
}
else
{
    <li class="float-right">
        <a class="nav-link btn btn-outline-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>