@using Microsoft.AspNetCore.Identity
@using Book_Lending_System.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav float-right">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a role="button" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
    </li>
    <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button type="submit" class="nav-link text-bg-primary">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" role="button" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>