@page
@model Book_Lending_System.Pages.UserView.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>UserPartner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserPartner.NIK" class="control-label"></label>
                <input asp-for="UserPartner.NIK" class="form-control" />
                <span asp-validation-for="UserPartner.NIK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPartner.Name" class="control-label"></label>
                <input asp-for="UserPartner.Name" class="form-control" />
                <span asp-validation-for="UserPartner.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPartner.TelephoneNumber" class="control-label"></label>
                <input asp-for="UserPartner.TelephoneNumber" class="form-control" />
                <span asp-validation-for="UserPartner.TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPartner.Gender" class="control-label"></label>
                <select asp-for="UserPartner.Gender" class="form-control"></select>
                <span asp-validation-for="UserPartner.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPartner.BirthDate" class="control-label"></label>
                <input asp-for="UserPartner.BirthDate" class="form-control" />
                <span asp-validation-for="UserPartner.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPartner.Address" class="control-label"></label>
                <input asp-for="UserPartner.Address" class="form-control" />
                <span asp-validation-for="UserPartner.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPartner.Nationality" class="control-label"></label>
                <select asp-for="UserPartner.Nationality" class="form-control"></select>
                <span asp-validation-for="UserPartner.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPartner.Citizenship" class="control-label"></label>
                <select asp-for="UserPartner.Citizenship" class="form-control"></select>
                <span asp-validation-for="UserPartner.Citizenship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
