@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section>
    <div class="d-flex flex-column min-vh-100 justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 mx-auto bg-white rounded shadow">
                    <div class="row">
                        <div class="col-md-7 col-lg-5 d-none d-md-block">
                            <div class="w-100 h-100 p-4">
                                <img src="~/images/bg-masthead.jpg" alt="login" class="img-fluid w-100 h-100" />
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-7">
                            <form id="account" method="post" class="m-3">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign In</h5>

                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Input.Email" class="form-label">Username or Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="checkbox mb-3">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>

                                <div class="mb-3 px-2 row">
                                    <button id="login-submit" type="submit" class="btn btn-dark btn-lg btn-block">Log in</button>
                                </div>

                                <a class="small text-muted" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
