@page
@model Book_Lending_System.Pages.BookViews.PublisherView.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Publisher</a></li>
        <li class="breadcrumb-item"><a asp-page="Details" asp-route-id="@Model.Publisher?.Id">@Html.DisplayFor(model => model.Publisher.Name)</a></li>
        <li class="breadcrumb-item" aria-current="page">Delete</li>
    </ol>

    <div class="form-button-view">
        <label role="button" for="form-delete-record" class="btn btn-danger btn-sm">Delete</label>
        <a asp-page="Details" asp-route-id="@Model.Publisher?.Id" class="btn btn-light btn-sm btn-outline-primary">Cancel</a>
    </div>
</nav>

<div class="container">
    <form method="post">
        <div class="row form-sheet">
            <div class="col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Publisher.Name" class="control-label">Name</label>
                    </div>
                    <div class="col-8 form-value">
                        <input asp-for="Publisher.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Publisher.Name" class="text-danger"></span>
                </div>
            </div>

            <!-- Invisible -->
            <div class="form-group d-none-important">
                <input type="submit" id="form-delete-record" value="Save" class="btn btn-primary" />
                <input type="hidden" asp-for="Publisher.Id" />
            </div>
        </div>
    </form>
</div>