@page
@model Book_Lending_System.Pages.BookViews.PublisherView.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Publisher</li>
    </ol>
    <div class="form-button-view">
        <a class="btn btn-primary btn-sm" asp-page="Create">Create</a>
    </div>
</nav>

<div class="container">

    <div class="datatable-container pb-4">
        <table class="datatable_responsive table table-striped table-hover gy-5 gs-7 border rounded w-100">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Publisher[0].Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Publisher)
                {
                    <tr class="cursor-pointer">
                        <td>
                            <a class="text-decoration-none text-black d-block" asp-page="./Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

