@page
@model Book_Lending_System.Pages.BookViews.ManageView.CreateModel
@using Book_Lending_System.Data 

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Book</a></li>
        <li class="breadcrumb-item" aria-current="page">Create</li>
    </ol>

    <div class="form-button-view">
        <label role="button" for="form-save-record" class="btn btn-primary btn-sm">Save</label>
        <a asp-page="Index" class="btn btn-light btn-sm btn-outline-primary">Cancel</a>
    </div>
</nav>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row form-sheet">
            <div class="col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Book.Title" class="control-label">Name</label>
                    </div>
                    <div class="col-8 form-value">
                        <input asp-for="Book.Title" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Book.Status" class="control-label"></label>
                    </div>
                    <div class="col-8 form-value">
                        <select asp-for="Book.Status" class="form-control" asp-items="Html.GetEnumSelectList<BookStatus>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                    <span asp-validation-for="Book.Status" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Book.BookAuthors" class="control-label">Author(s)</label>
                    </div>
                    <div class="col-8 form-value">
                        @Html.ListBoxFor(model => model.SelectedAuthors, new SelectList(Model.Author, "Id", "Name"), new {@class="multiselect"})
                    </div>
                    <span asp-validation-for="Book.BookAuthors" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Book.ReleaseDate" class="control-label"></label>
                    </div>
                    <div class="col-8 form-value">
                        <input asp-for="Book.ReleaseDate" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.ReleaseDate" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Book.BookCategories" class="control-label">Category(ies)</label>
                    </div>
                    <div class="col-8 form-value">
                        @Html.ListBoxFor(model => model.SelectedCategories, new SelectList(Model.Categories, "Id", "Name"), new {@class="multiselect"})
                    </div>
                    <span asp-validation-for="Book.BookCategories" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Book.BookPublishers" class="control-label">Publisher(s)</label>
                    </div>
                    <div class="col-8 form-value">
                        @Html.ListBoxFor(model => model.SelectedPublishers, new SelectList(Model.Publisher, "Id", "Name"), new {@class="multiselect"})
                    </div>
                    <span asp-validation-for="Book.BookPublishers" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Book.ImageFile" class="control-label"></label>
                    </div>
                    <div class="col-8 form-value">
                        <input type="file" accept="image/png,image/jpeg" asp-for="Book.ImageFile" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.ImageFile" class="text-danger"></span>
                </div>
                <div class="row d-none-important">
                    <div class="col-4 form-label">
                        <label asp-for="Book.ImageLocation" class="control-label"></label>
                    </div>
                    <div class="col-8 form-value">
                        <input type="text" asp-for="Book.ImageLocation" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.ImageLocation" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-4 form-label">
                        <label asp-for="Book.Synopsis" class="control-label"></label>
                    </div>
                    <div class="col-8 form-value">
                        <textarea asp-for="Book.Synopsis" class="form-control"></textarea>
                    </div>
                    <span asp-validation-for="Book.Synopsis" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
            </div>

            <!-- Invisible -->
            <div class="form-group d-none-important">
                <input type="submit" id="form-save-record" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
