@page
@model Book_Lending_System.Pages.BookViews.ExploreView.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div id="imageManageView" class="container">
    <div class="carousel-section">

        @foreach (var Category in Model.Category)
        {
            var Books = await Model.GetAllBookForCategory(Category);
            if (Books.Count() <= 0)
                continue;

            <text>
                <div class="carousel-section-header">
                    <div class="home-h2">
                        @Category.Name
                    </div>
                </div>
                <div class="carousel-container carousel-container-decorated">
                    <div class="carousel">
                        @foreach (var Book in Books) 
                        {
                            <div class="book carousel__item">
                                <div class="book-cover">
                                    <a role="button" asp-area="" asp-page="./Details" asp-route-id="@Book.Id">
                                        <img src="~/images/uploads/@{@Book.ImageLocation}" alt="Book Cover" class="bookcover" title="@Book.Title">
                                    </a>
                                </div>
                                <div class="book-cta">
                                    <div class="cta-button-group">
                                        <a role="button" asp-area="" asp-page="./Details" asp-route-id="@Book.Id" class="cta-btn cta-btn--available cta-btn--read">
                                            @switch (Book.Status)
                                            {
                                                case Data.BookStatus.Borrowed:
                                                    <text>Borrowed</text>
                                                    break;
                                                case Data.BookStatus.Displayed:
                                                    <text>Available</text>
                                                    break;
                                                case Data.BookStatus.New:
                                                    <text>New</text>
                                                    break;
                                                default:
                                                    <text>Not Available</text>
                                                    break;
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </text>
        }
    </div>
                        
</div>