@page
@model Book_Lending_System.Pages.StudentView.CreateModel
@using Book_Lending_System.Data

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="Index">Student</a></li>
            <li class="breadcrumb-item" aria-current="page">Create</li>
        </ol>
    </nav>

    <h4>Student</h4>
    <div class="row">
        <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-light btn-outline-primary">Cancel</a>
            </div>
            <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.NPM" class="control-label"></label>
                <input asp-for="Student.NPM" class="form-control" />
                <span asp-validation-for="Student.NPM" class="text-danger"></span>
                    <p class="text-danger">@Html.ValidationMessage("DuplicateNPM")</p>
            </div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.StudyProgram" class="control-label"></label>
                <select asp-for="Student.StudyProgram" class="form-control" asp-items="Html.GetEnumSelectList<StudyProgram>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Student.StudyProgram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.AccountKey" class="control-label"></label>
                <select asp-for="Student.AccountKey" class="form-control" asp-items="ViewBag.Account">
                    <option selected="selected"></option>
                </select>
            </div>
        </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
