html {
  font-size: 8px;
}

@media (min-width: 568px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-link-font {
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1.8px;
    margin-top: 0.25rem;
}

.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

.foto {
    max-width: 100%;
    position: relative;
    display: inline-block;
}

.book-cover-container {
    width: 132px;

}