body, code, dd, div, dl, dt, fieldset, form, input, legend, li, ol, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

html {
  font-size: 8px;
}

@media (min-width: 568px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-link-font {
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1.8px;
    margin-top: 0.25rem;
}

.book-img {
    margin: 0 auto;
    border-radius: 3px;
    max-width: 120px;
    max-height: 200px;
    display: block;
}

.book .bookcover {
    height: 125px
}

div#imageManageView, div.imageManageView {
    padding: 0 20px 20px
}

div#imageManageView img, div.imageManageView img {
    max-width: 100%;
}
    
.home-h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: #02598b;
    margin-bottom: .5em;
    margin-top: 1.75em
}

.book .book-cta {
    margin: 5px auto 0;
    font-size: .9em;
    padding: 5px 0
}

.book .book-cta a {
    display: block
}

.book .book-cover {
    height: 200px;
    display: flex;
    align-items: center
}

.book .book-cover a, .book .book-cover img {
    display: block
}

.book .book-cover a {
    margin: auto;
    width: 100%
}

.book img.bookcover {
    margin: 0 auto;
    box-shadow: 1px 2px 5px 0 #c3b683;
    border-radius: 3px;
    max-width: 100%;
    max-height: 200px
}

.cta-btn, a.cta-btn {
    font-size: 16px;
    color: #fff;
    width: 100%;
    display: block;
    border: 0;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    padding: 7px;
    white-space: nowrap;
    background-color: #666;
    line-height: 1.5em;
    text-decoration: none;
    transition: background-color .2s
}

.cta-btn .btn-icon, a.cta-btn .btn-icon {
    width: 40px;
    flex-shrink: 0
}

.cta-btn .btn-icon.read-aloud, a.cta-btn .btn-icon.read-aloud {
    background-image: url(/static/images/icons/read%20aloud.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

.cta-btn .btn-label, a.cta-btn .btn-label {
    padding: 0 10px
}

.cta-btn:link, .cta-btn:visited, a.cta-btn:link, a.cta-btn:visited {
    color: #fff;
    text-decoration: none
}

.cta-btn--available, a.cta-btn--available {
    background-color: #0376b8;
    color: #fff
}

.cta-btn--available:hover, a.cta-btn--available:hover {
    background-color: #013654
}

.cta-btn--external, a.cta-btn--external {
    background-image: url(/static/images/icons/octicon-link-external-24.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center right 8px
}

.cta-btn--unavailable, a.cta-btn--unavailable {
    background-color: #0376b8;
    color: #fff
}

.cta-btn--unavailable:hover, a.cta-btn--unavailable:hover {
    background-color: #013654
}

.cta-btn--shell, .cta-btn--shell:link, .cta-btn--shell:visited, a.cta-btn--shell, a.cta-btn--shell:link, a.cta-btn--shell:visited {
    background-color: #fff;
    border: 2px solid #0376b8;
    color: #0376b8
}

.cta-btn--shell:disabled, a.cta-btn--shell:disabled {
    border: 2px solid #ccc;
    color: #ccc;
    cursor: default
}

.cta-btn--sponsor, a.cta-btn--sponsor {
    border: 2px solid #02598b;
    background: #edf3f7
}

.cta-btn--vanilla, a.cta-btn--vanilla {
    padding: 5px;
    border: 2px solid #ccc;
    background: #fff;
    color: #000;
    border-radius: 6px
}

.cta-btn--cancel, a.cta-btn--cancel {
    padding: 5px;
    border: 2px solid #de351b;
    background: #fff;
    color: #de351b;
    border-radius: 6px
}

.cta-btn--delete, a.cta-btn--delete {
    background-color: #de351b
}

.cta-btn--delete:hover, a.cta-btn--delete:hover {
    background-color: #831f10
}

.cta-btn--sponsor:link, .cta-btn--sponsor:visited, a.cta-btn--sponsor:link, a.cta-btn--sponsor:visited {
    color: #02598b
}

.cta-btn--sponsor:hover, a.cta-btn--sponsor:hover {
    border: 2px solid #02598b;
    background-color: #02598b;
    color: #fff
}

.cta-btn__badge, a.cta-btn__badge {
    background-color: #632102;
    padding: 4px 7px;
    border-radius: 5px;
    font-size: .7em
}

.cta-btn + .cta-btn, .cta-btn + form input.cta-btn {
    margin-top: 5px
}

.cta-btn--small {
    font-size: 12px;
    padding: 5px 10px
}

.cta-button-group {
    display: flex;
    align-items: center;
    position: relative
}

.cta-button-group .cta-btn--w-icon {
    display: flex
}

.cta-button-group .cta-btn {
    margin: 0;
    padding: 8px 0
}

.cta-button-group .cta-btn:first-child {
    flex: 1;
    padding: 8px;
    overflow: hidden
}

.cta-button-group .cta-btn:not(:first-child) {
    margin-left: 1px;
    width: 40px;
    transition: width .2s;
    overflow: hidden;
    border-radius: 2px 6px 6px 2px
}

.cta-button-group .cta-btn:not(:last-child) {
    border-radius: 6px 2px 2px 6px
}

.cta-button-group .cta-btn:not(:first-child):hover {
    width: 100%
}

.book button {
    position: absolute; 
}

.carousel__item {
    padding: 2px;
    height: 100%;
    margin: 0 10px;
    min-height: 1px;
    overflow: hidden;
    box-sizing: border-box
}

.carousel__item.selected, .carousel__item:focus {
    border: 2px solid #fea238;
    outline: 0;
}

.slick-slider {
     overflow: visible !important; 
}

.slick-prev, .slick-next {
    width: auto !important;
    height: auto !important;
}

.slick-prev:before, .slick-next:before {
    color: deepskyblue !important;
    font-size: 35px !important;
}

.slick-prev:before {
    margin-left: 15px !important;
}

.slick-next {
    margin-right: 11px !important;
}

.carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px 20px;
}

.carousel a, .carousel a:link {
    text-decoration: none
}


.carousel--minimal img {
    max-height: 100px;
    width: auto
}

.carousel > div {
    min-width: 130px
}

.carousel button {
    border: 0;
    position: absolute;
    color: transparent
}

.carousel .book:last-child {
    margin-right: 0
}

.carousel .book .book-metadata {
    width: 130px;
    margin: 0 auto
}

.carousel .book .book-title {
    font-size: .8em;
    margin: 5px 0;
    color: #333;
    font-weight: 400;
}

.carousel .book .book-title a {
    color: #02598b;
    text-decoration: none
}


.carousel-container {
    margin: 0 -20px;
    padding: 3px 15px
}

.carousel-container-decorated {
    background: #b9dfff;
    margin-bottom: 3rem;
    border-bottom: 1px solid #e4e0cc;
    border-top: 1px solid #eae7d6
}

.slick-track {
    float: left !important;
}

.book-detail-parent {
    background-color: #cde5ff;
    padding-top: .75rem;
    margin-top: 2rem;
}

.book-detail table {
    width: 100%;
}

.book-detail table th, .book-detail table td {
    vertical-align: top;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.book-detail table th {
    width: 40%;
}

.book-detail table td {
    width: 60%;
}

.synopsis {
    font-family: 'EB Garamond', serif;
    text-align: justify;
}

@media (min-width: 768px) {
    .book-img-title {
        margin-top: -2.5rem;
    }
}

@media (max-width: 768px) {
    .book-title {
        text-align: center;
    }
}