@page
@model Book_Lending_System.Pages.RoleView.CreateModel
@using Book_Lending_System.Data

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="Index">Role</a></li>
            <li class="breadcrumb-item" aria-current="page">Create</li>
        </ol>
    </nav>

    <h4>User</h4>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-page="Index" class="btn btn-light btn-outline-primary">Cancel</a>
                </div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName" class="control-label">Name</label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
